<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.kq.mapper.GzhOpenUserMapper">

    <sql id="Base_Column_List">
        id,subscribe,openid,unionid,nickname,sex,headimgurl,country,province,city,language,subscribe_time,remark,groupid,subscribe_scene,inserter,updater,insert_time,update_time
    </sql>

    <!-- 带参数查询公众号用户列表 -->
    <select id="selectPageList" resultType="com.jk.kq.entity.GzhOpenUser">
        select
            <include refid="Base_Column_List"/>
        from jk_gzh_open_user where 1=1
    </select>

    <select id="selectByOpenId" resultType="com.jk.kq.entity.GzhOpenUser">
        select * from jk_gzh_open_user where unionid = #{unionid}
    </select>

</mapper>

